*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.nav-logo{
height: 50px;
width: 100px;
}

.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}



.add-icon{
    display: flex;
    align-items: center;
}

#p1{
    font-size: 0.85 rem;
    color: #CCCCCC;
    margin-left: 19px;
}
#p2{
    font-size: 1 rem;
    margin-left: 1px;
}

.box3{
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.box3:hover{
    border: 3px solid orange;
}

.search-select{
    display: flex;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
    justify-content: space-evenly;

}

.input{
    width: 525px;
    font-size: 1rem;
    border: none;
}

#search-logo{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.box4{
    display: flex;
    flex-direction: column;
   
   
   
}

#line1{
    font-size: 0.85rem;
    margin-left: 5px;
    margin-top: 5px;
}

#line2{
background-color: #0f1111;
color: white;
border: none;
font-size: 1rem;
margin-top: 0px;
font-weight: 700;

}


.box5{
    display: flex;
    flex-direction: column;
    
   
   
}

#b5line1{
    font-size: 0.85rem;
    margin-left: 1px;
    margin-top: 5px;
}

#b5line2{
font-size: 1rem;
margin-top: 0px;
font-weight: 700;
}

.box6 i{
   font-size: 30px;
}

.box6{
   font-weight: 700;
}



.panel{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    background-color: #232f3e;
    color: white;
}



.options{
    width: 70%;
    display: flex;
}
.options div{
    margin-right: 2rem;
}

.shop{
    font-weight: 700;
}

.border:hover{
 border: 1.5px solid white;
}


.hero-section{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    

}

.hero-msg{
    background-color: white;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 0.85rem;
   width: 90%;
   margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
      text-decoration: none;

}


.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color:#d1dddd;
    height: 500px;
    flex-wrap: wrap;
}


.box-image{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-image: url(box2_image.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
}

.content{
    margin-top: 0.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
}

.content a{
    color: #007185;
    text-decoration: none;
}


.box{
    height: 380px;
   width: 23%;
   background-color: white;
   margin-top: 1.5rem;
   padding: 20px 0px 15px;
  
}


.panel1{
    
    display: flex;
    height: 50px;
    background-color: #37475A;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 13px;

}

.panel2{
    background-color: #232F3E;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
   
    
}

ul{
    list-style-type: none;
    margin-top: 20px;
}

ul a{
    display: block;
    color: #dddddd;
    margin-top: 10px;
    text-decoration: none;
    
}

ul p{
    font-weight: 700;
}

.panel3{
    border-top: 0.5px solid white;
     background-color: #232F3E;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img{
    background-image: url("logo.png");
    height: 50px;
    width: 100px;
    
    background-size: cover;
}

.panel4{
    background-color: #131A22;
    height: 80px;
    color: white;
    font-size: 0.85rem;
   
}

.pages{
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-size: 0.7rem;
    padding-top: 25px;
}

.pages a{
    margin-right: 20px;
}


.copyright{
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.7rem;
}